/* ==========================================================================
   Reset
   ========================================================================== */

/**
 * Remove anchor tex-decoration
 */

a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
/**
 * Remove list-style
 */

ol,
ul {
  list-style: none;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
nav,
section,
main {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  font-size: 1em;
  font-weight: normal;
}
:root {
  --font: Arial, Helvetica, sans-serif;
}

body{
  background: #eee7ee;
}
label {
  font-family: var(--font);
  font-size: 1.3rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  background-image: linear-gradient(to right, #e31a6a, #a62178);
}

/* logo*/
.logo-container {
  display: flex;
  align-items: center;
}
.logo h1,
.logo-container a {
  font-family: var(--font);
  font-weight: bolder;
  color: #fff;
}

.logo img {
  width: 60px;
  height: 60px;
}
.logo h1 {
  font-size: 2rem;
  margin-top: 0.5rem;
}
.logo-container a {
  margin-left: 1rem;
  font-size: 1.2rem;
}

/*user*/

.user {
  display: flex;
  align-items: center;
}

.user h2 {
  font-family: var(--font);
  color: rgba(255, 255, 255, 0.747);
  margin-right: 0.5rem;
}

.user-photo {
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background: #fff;
}
.user-photo p {
  font-family: var(--font);
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

/*grid container*/
.container {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 300px;
  grid-auto-rows: 1fr;
  gap: 60px;
  grid-auto-flow: column dense;
  grid-template-areas:
    "myteams ranking"
    "myteams picked";
 
  height: 85vh;
  padding-top: 40px;
  z-index: 0;
 
}
.my-teams {
  grid-area: myteams;
  border-radius: 1rem 1rem 0 0;
}

.ranking {
  grid-area: ranking;
  border-radius: 1rem;
}

.picked {
  grid-area: picked;
  border-radius: 1rem 1rem 0 0;
}

.container.remove {
  display: none;
}

/* contend padrão*/
.my-teams,
.ranking {
  background: #fff;
}
.header-my-teams,
.top-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
  position: relative;
  margin-bottom: 30px;
  padding: 30px;
}
.header-my-teams::after,
.top-title::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background: #eee7ee;
  z-index: 1000;
  position: absolute;
  top: 100px;
  right: 0px;
}

.header-my-teams h1,
.top-title h1 {
  font-family: var(--font);
  font-size: 1.8rem;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #2d0b7c;
}

/*container my teams*/

.btn-modal {
  border: 0;
  font-size: 2rem;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #e31a6a, #780b7c);
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0 0 0.3em #780b7c;
}
.btn-modal:hover {
  transform: scale(0.9);
}

/*informação do time */
.records {
  width: 100%;
  user-select: none;
  text-align: left;
  padding: 10px;
}

.name,
.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  height: 50px;
  padding-left: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.name {
  width: 200px;
}

.records td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: #7e767e;
  height: 50px;
  padding-left: 40px;
  cursor: pointer;
  border: none;
}

.records tr:hover {
  background: #eee7ee;
}

.btn-crud {
  display: flex;
  justify-content: end;
}
.btn-crud button {
  display: block;
  z-index: 1000;
  width: 3rem;
  margin: 0 10px;
  background: none;
  border: none;
  cursor: pointer; 
}
.btn-crud button img{
  z-index: -10;
  
}

/*ranque dos times*/
.ranking{
  height: 430px;
}
.teams-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 40px;
}
.ranking-contend {
  display: block;
  margin: 0 20px;
}
.ranking-contend h1 {
  font-family: var(--font);
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.ranking-contend ul {
  display: block;
  background: #eee7ee;
  padding: 1px;
  border-radius: 5px;
}
.ranking-contend ul li {
  display: flex;
  justify-content: space-between;
  font-family: var(--font);
  color: #7e767e;
  padding: 10px 20px;
  background: #fff;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.ranking-contend ul li:hover {
  border: 2px ridge red;
}
.ranking-contend ul li span {
  color: #2d0b7c;
}

.picked-player {
  background: url(https://user-images.githubusercontent.com/84051326/182005452-2085b491-401f-41fe-8d2c-57b9cc6a83d9.png)
    no-repeat center;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

.most h1,
.less h1 {
  font-family: var(--font);
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  font-weight: bolder;
}


/*foooter*/
.footer {
 
  padding-top: 20px;
  background: #d8d5d8;
  text-align: center;
  z-index: 1000;

}


