.modal-container {
  height:100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 90px 50px 20px 50px;
  cursor: pointer;
}

.modal-container.active {
  display: flex;
}

.modal {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 0 10px white;
  position: relative;
  overflow-y: auto;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
  position: relative;
  margin-bottom: 30px;
}
.modal-title::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background: #eee7ee;
  z-index: 1000;
  position: absolute;
  top: 120px;
  right: 0px;
}

.modal-title h1 {
  font-family: var(--font);
  font-size: 1.8rem;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #2d0b7c;
  padding: 40px 40px;
}

.close-modal{
  margin-right: 40px;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.active .modal {
  animation: modal 0.3s forwards;
}

.information-team {
  display: block;
}

 h2{
  font-family: var(--font);
  font-size: 1.2rem;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #7e767e;
  text-align: center;
    margin: 40px 0 20px 0;
}

.information-form {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
}

.container1 {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 20px;
}

.team-type{
  margin-top: 30px;
}
.inputRadio{
  display: flex;
  gap: 10px;
 
}
input[type='radio']{
  appearance: none;
  background: #Eee;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1px solid #e31a6a;
  background: none;
}
input[type='radio']::before {
  content: '';
  position: absolute;
  height: 12px;
  width: 12px;
  background: #a62178;
  border-radius: 50%;
  opacity: 0;
  transition: all 300ms ease-in-out;
  top: 3px;
  left: 3px;
  
}
input[type='radio']:checked:before {
  opacity: 1;
}
input[type='radio']:focus{
  box-shadow: 0 0 5px #a970ff;
}

label[name="Team-type"]{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  cursor: pointer;
}
label[name="Team-type"]:nth-child(2){
 margin-right: 30px;
}
#description {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    height: 150px;
    resize: none;
    border: 3px solid #eee7ee;
    outline-color: #eee7ee;
    font-size: 1.3rem;
    padding: 20px;
}

