.input-configuration {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.Search-container input {
  margin-top: 10px;
}

.search-container {
  display: flex;
  justify-content: start;
  width: 340px;
}

.list-container {
  margin-top: 20px;
}

.drag-player {
  width: 340px;
  margin-top: 10px;
  background-image: linear-gradient(to top, #EEE7EE, #ffffff);
  padding: 15px 20px;
  border: 1px dashed rgba(104, 104, 121, 0.281);
  border-radius: 5px;
}

.drag-player li {
  font-family: var(--font);
  font-size: 1rem;
  font-weight: bolder;
}
.drag-player li span {
  color: rgba(252, 0, 0, 0.719);
}
